body{
    background-image: url(https://media.tenor.com/z4NaeqSDIJUAAAAd/homer-simpson-dancing.gif);
}

h1{
    color:rgb(4, 95, 155);
    text-align: center;
}

p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 26px;
    font-style: italic;
}

button{
    color: aqua;
    background-color: black;
    border-radius: 10rem;
    align-items: center;
}
